body {
  background-image: linear-gradient(-90deg, #ede3ff, #fee0ff);
}

.game {
  display: flex;
  align-items: center;
}

.game > div {
  padding: 50px;
  width: 50%;
}

/* text format */
h1 {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 70px;
  text-shadow: 5px 6px 5px #fb75ff;
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #5200b5;
}

button {
  background-color: #fb75ff;
  border-color: #fb75ff;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 30px;
  margin: 10px;
}

p {
  font-family: Lato;
  font-size: 25px;
  color: #5200b5;
  line-height: 50px;
}

.game-info {
  display: none;
}

/* grid layout */
#grid {
  flex-wrap: wrap;
  width: 450px;
  height: 350px;
  box-shadow: 5px 5px 20px 5px #c597fc;
  display: none;
}
.cell {
  height: 46px;
  width: 46px;
  border: 2px solid  #5200b5;
}

/* candies */
.green {
  background-image: url('../assets/green.png');
  background-size:contain;
  background-position: center;
}
.purple {
  background-image: url('../assets/purple.png');
  background-size:contain;
  background-position: center;
}
.orange {
  background-image: url('../assets/orange.png');
  background-size:contain;
  background-position: center;
}
.blue {
  background-image: url('../assets/blue.png');
  background-size:contain;
  background-position: center;
}

.first-pick {
  border: 2px solid white;
  filter: brightness(120%)
}
